!!!
%html{ lang: "en" }
  %head
    = render "layouts/head/title"
    = render "layouts/head/meta"
    = render "layouts/head/favicons"
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", media: "all", data: { turbolinks_track: "reload" }
    = javascript_include_tag "application", data: { turbolinks_track: "reload" }
  - @random_theme ? render("themes/random") : render("themes/theme")
  %body#top.full-page.theme-bg{ class: @theme ? "theme-#{@theme}-bg" : nil, data: { theme: @theme } }
    = render "layouts/flash_bar"
    #top-menu.top-menu= render "layouts/menu", menu: @theme ? "menu-#{@theme}" : nil
    = yield :header
    .py-3
      .container= yield
    = yield :footer
